<style>
ul { display:table; margin:0 auto;}
</style>
<h1 style="text-align: center">About Us</h1>
<div style="display: block; margin: auto; width: 50%; padding: 5px; background-color: white; text-align: center">
<h3>Here at Bed and Breakfast 2, beds and breakfast are our passion.</h3><br>
<p>At our facility, we like to ensure that all our guests have access to:</p>
<ul>
 <li>A Room</li>
 <li>A Bed</li>
 <li>Breakfast</li>
</ul>
<br>
<p>We offer great variety of breakfast items such as:</p>
<ul>
 <li>Eggs</li>
 <li>Toast</li>
 <li>Apple Jacks</li>
</ul><br>
</div>
