<h1>Book A Room</h1>

{{#if name}}
<p>Here you can book a room when you're logged in!</p>
{{else}}
<p>You need to log in to access this page!</p>
<br>
<p href="/login">Login Here!</p>
{{/if}}
