<h1 style="text-align: center">Contact Us</h1>

<div class="container" style="text-align: center">
 <form action="/ques" method="POST">
   <h3>Something Wrong? Let us Know!</h3>
   <label for="name">Name</label><br>
   <input type="text" id="name" name="name" placeholder="Your name.."><br>
   <label for="email">Email</label><br>
   <input type="text" id="email" name="email" placeholder="Your email.."><br>
   <label for="subject">Message</label><br>
   <input type="text" id="message" name="message" placeholder="Write something.." style="height:200px"></input><br>
   <input type="submit" value="Submit">
 </form>
</div>
