<h2 style="font-family:Verdana;font-size:40px;text-align: center">Welcome to Bed & Breakfast 2!</h2><br>
<h2 style="text-align: center">Site under construction</h2>
<h2 style="text-align: center">Upcoming features</h2>
<ul>
  <li>Room Booking</li>
  <li>Contact Page</li>
  <li>Functioning Links</li>
</ul>
