<h1 style="text-align: center">You've sucessfully booked a room, {{name}}!</h1>
<h1 style="text-align: center"><a href="/">RETURN HOME</a></h1>
<br>
<div style="display: block; margin: auto; width: 50%; padding: 5px; text-align: center">
<img src="/img/happy.png" alt="Yay" style="width:101.1%">
</div>
