<h1 style="text-align: center">Contact Us</h1>

<div class="container" style="text-align: center">
 <form action="/ques" method="POST">
   <h3>Something Wrong? Let us Know!</h3>
   <label for="name">Name</label><br>
   <input type="text" id="name" name="name" placeholder="Your name.."><br><br>
   <label for="email">Email</label><br>
   <input type="text" id="email" name="email" placeholder="Your email.."><br><br>
   <label for="message">Message</label><br>
   <textarea id="message" name="message" style="width: 200px; height: 170px" rows="10" cols="80" placeholder="Write something.."></textarea><br><br>
   <input type="submit">
 </form>
</div>
